{
  "root": true,
  "extends": "airbnb-typescript",
  "plugins": ["import", "prettier"],
  "parserOptions": {
    "project": "./tsconfig.eslint.json"
  },
  "rules": {
    "import/extensions": [0, "never"]
  }
}
